# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/

# Log files
*.log
ollama_log.txt

# VS Code
.vscode/

# Other projects
TG_ClientTrackBot/

# macOS
.DS_Store 